In [1]:
#Task 1

# There are three different tables as given above. Please make three dataframe in python and save them as three .csv files. From Task 2 to Task 10, use the saved .csv files only.

import pandas as pd

# Table 1
# Creating the DataFrame
data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': ['1002000', '2000000', '4500000', '5500000', ' ', '680000', '400000', '350000', ' ', '300000', '2000000', '1000000', '3000000', '200000'],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}

project_df = pd.DataFrame(data)

# Displaying the DataFrame
print(project_df)

# Saving the DataFrame as a CSV file
project_df.to_csv('project_data.csv', index=False)

      ID     Project     Cost    Status
0   A001   Project 1  1002000  Finished
1   A002   Project 2  2000000   Ongoing
2   A003   Project 3  4500000  Finished
3   A004   Project 4  5500000   Ongoing
4   A005   Project 5           Finished
5   A002   Project 6   680000    Failed
6   A005   Project 7   400000  Finished
7   A003   Project 8   350000    Failed
8   A001   Project 9            Ongoing
9   A003  Project 10   300000  Finished
10  A001  Project 11  2000000    Failed
11  A004  Project 12  1000000   Ongoing
12  A004  Project 13  3000000  Finished
13  A005  Project 14   200000  Finished

In [2]:
# Table 2
# Creating the Employee DataFrame
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice', 'Tom', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}

employee_df = pd.DataFrame(employee_data)

# Displaying the DataFrame
print(employee_df)

# Saving the DataFrame as a CSV file
employee_df.to_csv('employee_data.csv', index=False)

     ID        Name Gender     City  Age
0  A001  John Alter      M    Paris   25
1  A002       Alice      F   London   27
2  A003         Tom      M   Berlin   29
3  A004  Nina Adgra      F  Newyork   31
4  A005   Amy Johny      F   Madrid   30

In [3]:
# Table 3
# Creating the Seniority Level DataFrame
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation': [2, 2, 3, 2, 3],
    'Level': [2, 2, 3, 2, 3]
}

seniority_df = pd.DataFrame(seniority_data)

# Displaying the DataFrame
print(seniority_df)

# Saving the DataFrame as a CSV file
seniority_df.to_csv('seniority_data.csv', index=False)

     ID  Designation  Level
0  A001            2      2
1  A002            2      2
2  A003            3      3
3  A004            2      2
4  A005            3      3

In [4]:
# Task 2
# The cost column in the dataframe “Project” has some missing values. Your task is to compute these missing values. Replace the missing values by running average. You should use the “For” loop for this task.

# Convert 'Cost' column to numeric data type
project_df['Cost'] = pd.to_numeric(project_df['Cost'], errors='coerce')

# Using a for loop to compute the missing values with running average
running_total = 0
count = 0
for index, row in project_df.iterrows():
    if pd.isnull(row['Cost']):
        row['Cost'] = running_total / count if count > 0 else 0
    else:
        running_total += row['Cost']
        count += 1

# Displaying the updated DataFrame
print(project_df)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [5]:
# Task 3
# Split the name column in the Employee dataframe into two new columns “First Name”, and “LastName” and remove the older “name” column.

# Convert 'Name' column to strings
employee_df['Name'] = employee_df['Name'].astype(str)

# Splitting the "Name" column into "First Name" and "Last Name"
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', n=1, expand=True)

# Dropping the original "Name" column
employee_df.drop(columns=['Name'], inplace=True)

# Displaying the updated DataFrame
print(employee_df)

     ID Gender     City  Age First Name Last Name
0  A001      M    Paris   25       John     Alter
1  A002      F   London   27      Alice      None
2  A003      M   Berlin   29        Tom      None
3  A004      F  Newyork   31       Nina     Adgra
4  A005      F   Madrid   30        Amy     Johny

In [6]:
# Task 4
# Join all three dataframes in one single dataframe. Name it “Final”

# Merge the three dataframes
Final = pd.merge(project_df, employee_df, on='ID')
Final = pd.merge(Final, seniority_df, on='ID')

# Displaying the final DataFrame
print(Final)

      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A001   Project 9        NaN   Ongoing      M    Paris   25       John
2   A001  Project 11  2000000.0    Failed      M    Paris   25       John
3   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
4   A002   Project 6   680000.0    Failed      F   London   27      Alice
5   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
6   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
7   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
8   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
11  A005   Project 5        NaN  Finished      F   Madrid   30        Amy
12  A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

   Last Name  Designation  Level
0      Alter            2      2
1      Alter            2      2
2      Alter            2      2
3       None            2      2
4       None            2      2
5       None            3      3
6       None            3      3
7       None            3      3
8      Adgra            2      2
9      Adgra            2      2
10     Adgra            2      2
11     Johny            3      3
12     Johny            3      3
13     Johny            3      3

In [7]:
# Task 5
# Add a new bonus column in the Final dataframe. Give a 5% bonus concerning project cost only to employees who have finished the projects.

# Add a new 'Bonus' column with default value 0
Final['Bonus'] = 0

# Apply the 5% bonus to employees who have finished projects
Final.loc[Final['Status'] == 'Finished', 'Bonus'] = Final.loc[Final['Status'] == 'Finished', 'Cost'] * 0.05

# Displaying the updated DataFrame
print(Final)

      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A001   Project 9        NaN   Ongoing      M    Paris   25       John
2   A001  Project 11  2000000.0    Failed      M    Paris   25       John
3   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
4   A002   Project 6   680000.0    Failed      F   London   27      Alice
5   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
6   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
7   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
8   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
11  A005   Project 5        NaN  Finished      F   Madrid   30        Amy
12  A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

   Last Name  Designation  Level     Bonus
0      Alter            2      2   50100.0
1      Alter            2      2       0.0
2      Alter            2      2       0.0
3       None            2      2       0.0
4       None            2      2       0.0
5       None            3      3  225000.0
6       None            3      3       0.0
7       None            3      3   15000.0
8      Adgra            2      2       0.0
9      Adgra            2      2       0.0
10     Adgra            2      2  150000.0
11     Johny            3      3       NaN
12     Johny            3      3   20000.0
13     Johny            3      3   10000.0

In [8]:
# Task 6
# Demote the designation level by 1, whose projects have status “fail”. Delete the employees record whose designation level is above 4.

# Demote the designation level by 1 for employees whose projects have a status of "Failed"
Final.loc[Final['Status'] == 'Failed', 'Level'] -= 1

# Delete the employee records whose designation level is above 4
Final = Final[Final['Level'] <= 4]

# Displaying the updated DataFrame
print(Final)

      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A001   Project 9        NaN   Ongoing      M    Paris   25       John
2   A001  Project 11  2000000.0    Failed      M    Paris   25       John
3   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
4   A002   Project 6   680000.0    Failed      F   London   27      Alice
5   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
6   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
7   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
8   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
11  A005   Project 5        NaN  Finished      F   Madrid   30        Amy
12  A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

   Last Name  Designation  Level     Bonus
0      Alter            2      2   50100.0
1      Alter            2      2       0.0
2      Alter            2      1       0.0
3       None            2      2       0.0
4       None            2      1       0.0
5       None            3      3  225000.0
6       None            3      2       0.0
7       None            3      3   15000.0
8      Adgra            2      2       0.0
9      Adgra            2      2       0.0
10     Adgra            2      2  150000.0
11     Johny            3      3       NaN
12     Johny            3      3   20000.0
13     Johny            3      3   10000.0

In [9]:
# Task 7
# Add “Mr.” and “Mrs.” to the first name column and drop the gender column

# Iterate over each row in the DataFrame
for index, row in Final.iterrows():
    # Add "Mr." or "Mrs." to the "First Name" column based on gender
    if row['Gender'] == 'M':
        Final.at[index, 'First Name'] = 'Mr. ' + row['First Name']
    else:
        Final.at[index, 'First Name'] = 'Mrs. ' + row['First Name']

# Drop the "Gender" column
Final.drop(columns=['Gender'], inplace=True)

# Displaying the updated DataFrame
print(Final)

      ID     Project       Cost    Status     City  Age  First Name Last Name  \
0   A001   Project 1  1002000.0  Finished    Paris   25    Mr. John     Alter
1   A001   Project 9        NaN   Ongoing    Paris   25    Mr. John     Alter
2   A001  Project 11  2000000.0    Failed    Paris   25    Mr. John     Alter
3   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice      None
4   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice      None
5   A003   Project 3  4500000.0  Finished   Berlin   29     Mr. Tom      None
6   A003   Project 8   350000.0    Failed   Berlin   29     Mr. Tom      None
7   A003  Project 10   300000.0  Finished   Berlin   29     Mr. Tom      None
8   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina     Adgra
9   A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina     Adgra
10  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina     Adgra
11  A005   Project 5        NaN  Finished   Madrid   30    Mrs. Amy     Johny
12  A005   Project 7   400000.0  Finished   Madrid   30    Mrs. Amy     Johny
13  A005  Project 14   200000.0  Finished   Madrid   30    Mrs. Amy     Johny

    Designation  Level     Bonus
0             2      2   50100.0
1             2      2       0.0
2             2      1       0.0
3             2      2       0.0
4             2      1       0.0
5             3      3  225000.0
6             3      2       0.0
7             3      3   15000.0
8             2      2       0.0
9             2      2       0.0
10            2      2  150000.0
11            3      3       NaN
12            3      3   20000.0
13            3      3   10000.0

In [10]:
# Task 8
# Promote designation level by 1 for the employees whose age is more than 29 years using IF condition.

# Iterate over each row in the DataFrame
for index, row in Final.iterrows():
    # Check if the age is more than 29 years
    if row['Age'] > 29:
        # Promote designation level by 1
        Final.at[index, 'Level'] += 1

# Displaying the updated DataFrame
print(Final)

      ID     Project       Cost    Status     City  Age  First Name Last Name  \
0   A001   Project 1  1002000.0  Finished    Paris   25    Mr. John     Alter
1   A001   Project 9        NaN   Ongoing    Paris   25    Mr. John     Alter
2   A001  Project 11  2000000.0    Failed    Paris   25    Mr. John     Alter
3   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice      None
4   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice      None
5   A003   Project 3  4500000.0  Finished   Berlin   29     Mr. Tom      None
6   A003   Project 8   350000.0    Failed   Berlin   29     Mr. Tom      None
7   A003  Project 10   300000.0  Finished   Berlin   29     Mr. Tom      None
8   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina     Adgra
9   A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina     Adgra
10  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina     Adgra
11  A005   Project 5        NaN  Finished   Madrid   30    Mrs. Amy     Johny
12  A005   Project 7   400000.0  Finished   Madrid   30    Mrs. Amy     Johny
13  A005  Project 14   200000.0  Finished   Madrid   30    Mrs. Amy     Johny

    Designation  Level     Bonus
0             2      2   50100.0
1             2      2       0.0
2             2      1       0.0
3             2      2       0.0
4             2      1       0.0
5             3      3  225000.0
6             3      2       0.0
7             3      3   15000.0
8             2      3       0.0
9             2      3       0.0
10            2      3  150000.0
11            3      4       NaN
12            3      4   20000.0
13            3      4   10000.0

In [11]:
# Task 9
# Add the cost of all projects for each Employee and save it in new dataframe “TotalProjCost” with three columns ID, First Name, and Total cost

# Grouping by 'ID' and 'First Name' and summing the 'Cost' column
total_proj_cost = Final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()

# Renaming the 'Cost' column to 'Total cost'
total_proj_cost.rename(columns={'Cost': 'Total cost'}, inplace=True)

# Displaying the TotalProjCost DataFrame
print(total_proj_cost)

     ID  First Name  Total cost
0  A001    Mr. John   3002000.0
1  A002  Mrs. Alice   2680000.0
2  A003     Mr. Tom   5150000.0
3  A004   Mrs. Nina   9500000.0
4  A005    Mrs. Amy    600000.0

In [12]:
# Task 10
# Print all the employee details whose city name contains the letter “o” in it.

# Filter the employees whose city name contains the letter "o"
filtered_employees = Final[Final['City'].str.contains('o', case=False)]

# Displaying the filtered employees details
print(filtered_employees)

      ID     Project       Cost    Status     City  Age  First Name Last Name  \
3   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice      None
4   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice      None
8   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina     Adgra
9   A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina     Adgra
10  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina     Adgra

    Designation  Level     Bonus
3             2      2       0.0
4             2      1       0.0
8             2      3       0.0
9             2      3       0.0
10            2      3  150000.0